
body{
  background-color: #eeeeee;
  }

h1{
  color:#393e46;
}

h3{
  color:#222831;
}

hr{
  border-color:grey;
  border-width:5px;
  border-style:dotted none none;
  width: 10%;
}

table {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

tr{
  text-align: left;

}
th, td {

padding: 10px;

}


/*
.tag
#id

*/

.page-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  text-align: center;

}
